/** Add css rules here for your application. */

.carousel-control.right {background-image:none!important;}
.carousel-control.left {background-image:none!important;}

.dwatermark
{
	background-image: url("dwatermark.jpg");
}

.showAnchorHand
{
	cursor: pointer;
}

.redPageHeader
{
	background-color: #7f0000;
}

.headerMargin
{
	margin-bottom: 10px;
}
.blackPageHeader
{
	margin-top: auto;
	background-color: black;
	margin-bottom: auto;
}

.greyPageHeader
{
	background-color: #bababa;
}

.classcal
{
	border-top: 2px solid #7f0000;
	font-size: smaller;
}

.ccitem
{
	margin-bottom: 3px;
	border-bottom: 1px solid grey;
}
.rtypea
{
	background-color: white;
}
.rtypeb
{
	background-color: #ffe9ee;
}
.cctime
{
	color: #7f0000;
}
.picBorder
{
	border: 1 px solid green;
	margin-right: auto;
	margin-left: auto;
}